<script setup>
import { computed, reactive, toRefs } from "vue";
import { useRoute } from "vue-router";

const state = reactive({
  postsDetails: null,
  comments: computed(() => arrComments()),
});

const arrComments = () => {
  if (state.postsDetails) {
    return state.postsDetails.comments.map((comment) => {
      const cont = { id: comment.id, content: comment.content };
      return cont;
    });
  }
};

const { postsDetails, comments } = toRefs(state);
const route = useRoute();

fetch(`https://local-apps.kairosds.com/api/posts/${route.params.id}`)
  .then((response) => response.json())
  .then((data) => {
    state.postsDetails = data;
  });
</script>

<template>
  <div>
    <button class="btn">
      <router-link to="/public-app" class="link">Posts</router-link>
    </button>
  </div>
  <article>
    <h2 class="title">Details</h2>
    <ul class="vue-list">
      <li>
        <h3 class="title">{{ postsDetails.title }}</h3>
        <p>{{ postsDetails.content }}</p>
      </li>
      <li><h3 class="title">Comments</h3></li>
      <li v-for="comment in comments" :key="comment.id" v-if="comments" class="vue-comment">
        <p>{{ comment.content }}</p>
      </li>
      <li v-else>
        <p class="text-conditional">Not comments yet</p>
      </li>
    </ul>
    
  </article>
</template>
<style scoped>
.btn {
  text-align: right;
}

div {
  display: flex;
  justify-content: end;
}

.vue-comment p{
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.236);
  box-shadow: 2px 3px 2px 3px rgba(0, 0, 0, 0.149);
}
</style>
