<script setup>
import { reactive, toRefs } from "vue";

const state = reactive({
  posts: [],
});

const { posts } = toRefs(state);

fetch("https://local-apps.kairosds.com/api/posts")
  .then((response) => response.json())
  .then((data) => {
    data.map((el) => {
      const post = {
        id: el.id,
        title: el.title,
        content: el.content,
      };
      state.posts.push(post);
    });
  });
</script>

<template>
  <article>
    <ul class="vue-list" v-if="posts">
      <li v-for="post in posts" :key="post.id">
        <h3 class="title">{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <button><router-link :to="`/public-app/posts/detail/${post.id}`" class="link"
          >detail</router-link
        ></button>
      </li>
    </ul>
    <div v-else>
      <p class="text-conditional">Not post yet</p>
    </div>
  </article>
</template>

<style>
.vue-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.249);
  margin:20px 30px;
  background-color: rgba(187, 233, 240, 0.62);
}

.vue-list h3{
  padding:10px;
}

.vue-list p{
  padding-left: 10px;
}

.link{
  color:black;
  padding: 5px 10px;
}

.link:hover{
  color:rgb(10, 105, 90);
}

button{
margin:10px;
border: none;
padding:5px;
box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.249);
}

button:hover{
  background-color: rgba(162, 225, 225, 0.564);
}

li{
  list-style-type: none;
}

.title{
  color: rgb(9, 106, 119);
  padding-left:10px;
  margin-top:5px;
}

.text-conditional{
  padding-bottom:5px;
}
</style>
