<script setup>

</script>

<template>
  <header class="header">
    <h1>Public Posts</h1>
  </header>
  <main class="container">
   <router-view></router-view>
  </main>
</template>

<style scoped>

  .header{
    height: 100px;
    background-color: aliceblue;
    width:100%;
  }

  .header h1{
    line-height: 100px;
    padding-left:10px;
    color: rgb(9, 106, 119);
  }

  .container{
    max-width: 600px;
  }

</style>
